.page-gallery-progresbar {
    position: relative;
    flex-grow: 1;
    width: auto !important;
    height: 5px !important;
    background: #A6C1D7;

    .swiper-pagination-progressbar-fill {
        background: #00457E;
    }

    @media (max-width: 480px) {
        & {
            height: 2px !important;
        }
    }
}