.page-services {
  .productions__items {
    margin-top: rem(45px);
  }

  .productions__subtitle {
    max-width: rem(342px);
  }

  &__items {
    grid-template-columns: repeat(4, 1fr);
  }

  &__link {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: rem(26px);
    line-height: 140%;
    text-decoration-line: underline;
    color: #000000;
    display: block;
    width: rem(147px);
    margin: 0 auto;
    margin-top: rem(34px);
  }

  .productions__item:hover  &__link {
    text-decoration: none;
  }

  .productions__item-inner {
    flex-direction: column;
  }

  @media (max-width: 1199px) {
    .productions__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 767px) {
    .productions__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (max-width: 480px) {
    &__link {
        font-size: rem(14px);
        margin-top: rem(20px);
        min-width: rem(73px);
        width: auto;
    }
  }
}