.page-services {
  .productions__items {
    margin-top: rem(45px);
  }

  .productions__subtitle {
    max-width: rem(342px);
  }

  &__items {
    grid-template-columns: repeat(4, 1fr);
  }

  &__link {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: rem(26px);
    line-height: 140%;
    text-decoration-line: underline;
    color: #000000;
    display: block;
    width: rem(147px);
    margin: 0 auto;
    margin-top: rem(34px);
  }

  .productions__item:hover  &__link {
    text-decoration: none;
  }

  .productions__item-inner {
    flex-direction: column;
  }
}