.projects {

    // .projects__content

    &__content {
        padding: rem(85px) 0px;
    }

    // .projects__title

    &__title {
        font-family: 'Sora', sans-serif;
        font-weight: 600;
        font-size: rem(50px);
        line-height: 140%;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: rem(60px);
    }

    // .projects__items

    &__items {
        display: grid;
        grid-template-columns: repeat(4,  1fr);
        grid-gap: rem(20px);
    }

    // .projects__item

    &__item {
        border: rem(2px) solid #000000;
        border-radius: rem(15px);
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    // .projects__item-mobel

    &__item-mobel {
        border-bottom: rem(2px) solid #000000;
        font-family: 'Sora', sans-serif;
        font-weight: 400;
        font-size: rem(26px);
        line-height: 140%;
        text-transform: uppercase;
        color: #000000;
        padding: rem(31px) rem(75px) rem(31px) rem(44px);
        position: relative;
        &:before {
            content: '';
            width: rem(30px);
            height: rem(30px);
            background: url('../img/projects/arrow.svg') no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: 50%;
            right: rem(45px);
            transform: translate(0%, -50%);
            transition: 0.4s;
            transform: translate(0%, -50%)
        }
    }


    &__item:hover  &__item-mobel:before {
      transform: translate(50%, -50%);
    }

    // .projects__item-info

    &__item-info {
        background: #00457E;
        padding: rem(20px);
        font-family: 'Sora', sans-serif;
        font-weight: 400;
        font-size: rem(20px);
        line-height: 140%;
        text-align: center;
        color: #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }

    @media(max-width: 1199px) {
        &__item-mobel {
            padding: rem(20px);
            padding-right: rem(40px);
        }

        &__item-mobel:before {
            right: rem(10px);
        }

        &__item-info {
            padding: rem(10px);
        }
    } 

    @media(max-width: 991px) {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media(max-width: 767px) {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media(max-width:480px) {
        &__content {
            padding: rem(30px) 0px;
        }

         &__title {
            font-size: rem(20px);
            margin-bottom: rem(20px);
         }

         &__item-mobel {
            padding: rem(15px) rem(28px) rem(15px) rem(15px);
            font-size: rem(14px);
         }

         &__item-mobel:before {
            width: rem(13px);
            height: rem(13px);
         }

         &__item-info {
            font-size: rem(12px);
         }

         &__items {
           grid-gap: rem(15px) rem(11px);
         }
    }
}
