//Пример подключения
/* @font-face {
    font-family: 'Cako';
    src: url('../fonts/Cako-Regular.woff'),
        url('../fonts/Cako-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}  */