%fonts {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: rem(20px);
    line-height: 140%;
    color: #000000;
}

%fonts2 {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: rem(20px);
    line-height: 130%;
    color: #000000;
}